* {
    margin: 0;
    padding: 0;
}

header {
    background-color:rgb(127, 221, 255);
}

.body {
    background-color: rgb(0, 128, 124);
    padding-bottom: 30px;
    padding-top: 30px;
}

.body h1{
    font-size: 60px;
    margin-left: 160px;
}

.body p{
    margin-left: 160px;
    margin-top: 10px;
    font-size: 25px;
}

.body-wallpapers{
    margin-top: 30px;
    text-align: center;
}

.body-wallpapers img{
    margin-left: 10px;
    border: 5px solid black;
}

footer {
    background-color: black;
    text-align: center;
}

footer button {
    margin-top: 30px;
    height: 40px;
    width: 230px;
    font-size: 18px;
}

#right {
    background-color:rgb(127, 208, 255);
    color: white;
}

footer p{
    color: white;
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 40px;
}