/*--------------------------------------footer------------------------------------*/

.footer{
    width: 100%;
    height:auto;
    background-color:rgb(0, 0, 0);
    padding:40px 0 30px 20px;
}


.text-footer-1{
    font-family: sans-serif;
    font-size: 25px;
    color:white
}


.list-footer{
    margin-top:20px;
    margin-bottom:20px;
}


.list-footer ul{
    display: flex;
}

.list-footer ul li{
    list-style: none;
    margin-right: 30px;
}

.list-footer ul li a{
    text-decoration: none;
    color:rgb(11, 73, 138);
    font-family: sans-serif;
    font-size:15px;
}

.text-footer-2{
    text-align:center;

}

.text-footer-2 p{
    font-family: sans-serif;
    font-size:15px;
    color: rgb(204, 204, 204);
}