*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.wrapper{
    width: 100%;
    height: auto;
}
.header{
    width: 100%;
    display: flex;
    height: 10%;
    background-color: #1a3300;
    
}
.left{
    width: 85%;
    display: flex;
    padding: 20px;

    
}
.select{
    display: flex;
    background:none;
    border: none;
}
.select p{
    font-size: 20px;
    font-weight: 600;
    color: #ccc;
}
.select p:hover{
    color: white;
}
.search{
    display: flex;
    
    
}
.mr{
    margin-right: 20px;
}
.btn{
    border: none;
    background: none;
    font-size: 20px;
    color: #ccc;
}
.btn:hover{
    color: white;
}
.tim{

    width: 40px;
    height: 40px;
    margin-top: -10px;
    padding: 10px;
    background-color: white;

}
.search input{
    width: 350px;
    height: 40px;
    margin-top: -10px;
 
    
    
}
.right{
    display: flex;
    padding: 20px;
}
a{
   text-decoration: none;
}
.txt{
    color: #ccc;
}
.txt:hover{
    color: white;
}
/* -----------------------------------menu ẩn------------------------------------------------------------ */
.navagation{
    display: none;
    height: auto;
    width: 100%;
    background-color: black;
}
.navagation p{
    color: white;
    margin-left: 600px;
    font-size: 24px;
    font-weight: bold;
 
}

.home{
    background-color: aliceblue;
  
    border: 1px solid red;
    font-size: 15px;
    
    padding: 10px;
   
}
.sl{
    display: flex;
    
    margin-top: -5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color:#0066cc;
    border-radius: 5px;
}.sl1{
    display: flex;
    
    margin-top: -5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color:#00264d;
    border-radius: 5px;
}
.sl2{
    display: flex;
    
    margin-top: -5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #b30000;
    border-radius: 5px;
}
.sl3{
    display: flex;
    
    margin-top: -5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color:  #999900;
    border-radius: 5px;
}
.sl4{
    display: flex;
    
    margin-top: -5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color:  #66cc00;
    border-radius: 5px;
}
.sl5{
    display: flex;
    
    margin-top: -5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color:  #000066;
    border-radius: 5px;
}
.sl6{
    display: flex;
    
    margin-top: -5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #800000;
    border-radius: 5px;
}
.sl7{
    display: flex;
    
    margin-top: -5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color:  #806000;
    border-radius: 5px;
}
.sl8{
    display: flex;
    
    margin-top: -5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #660000;
    border-radius: 5px;
}
.sl9{
    display: flex;
    
    margin-top: -5px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #004d00;
    border-radius: 5px;
}
.mr25{
    margin-right: 30px;
}
.sl-btn{
    border: none;
    background: none;
    color:white;
    font-size: 20px;
}
.sl-btn:hover{
    color: black;
}
.menu{
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.menu-sl{
    height: 50%;
 
}
/* .sl button{
    border: none;
    background: none;
    color:black;
    font-size: 20px;
} */
.txtt{
    color: white;
    font-size: 20px;
}
.txtt1:hover{
    color: #ccc;
}
.txtt1{
    color: white;
    font-size: 20px;
   
}
.btt{
    border-right: 1px solid black;
    padding-right: 5px;
}
.menu ul{
    display: flex;
}
.menu-t2 button{
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
 }
 .menu-t2 button a{
     color: black;
     font-size: 18px;
 }
/* menu */



 .box-submenu{
    
     width: 150px;
    text-align: left;
    border-bottom: dotted 1px #fff;
    background: transparent;
    border-radius: 0;
    padding: 15px;
    margin: 10px;
   
    position: absolute;
    background: white;
    margin-top: 33px;
    margin-left: -15px;
   display: none;
    border-radius: 5px;
    
 }
 .box-submenu   {
   /*  display: flex; */
    flex-direction: column;
 }
.box-submenu {
    list-style: none;
}
.box-submenu  a{
    color: black;
    margin-bottom: 10px;
}
.box-submenu  li{
    margin-bottom: 10px;
}
/* -------------------------------------------------------------main------------------------------------------------- */

body{
  background-image: url(./img/background.jpg);
}

.mb{
margin-bottom: 30px;
}
/* mainn */
.dangki{
    width: 100%;
    height: auto;
}
.nd1{
  margin-left: 500px;
  font-size: 50px;
  margin-top: 50px;
}
.main-dki{
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 25px;
}
.bentrai{
width: 50%;

}
.ndung-trai{
    width: 65%;
    margin-left: 240px;
}
.ndung-trai p{
    width: 100%;
    font-size: 30px;
    text-align: center;
}
.btn6{
   padding: 10px;
   border-radius: 7px;
}
.btn6 a{
    color: #1a3300;
}
.btn6:hover{
    background-color: #ccc;
}
.regis{
    width: 600px;
    height: auto;
    background-color: white;
}
.header-regis{
    margin-left: 10px;
   padding-top: 24px;
}
.text1{
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    line-height: 30px;
    margin-bottom: 5px;
}
.text3{
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    
}

.text2{
    border-right: 3px solid black;
    padding-right: 5px;
}
.text1 a:hover{
    text-decoration: underline;
}
.nhaplieu{
    margin-left: 10px;
    margin-bottom: 20px;
}
.nhaplieu input{
    width: 96%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.chon{
    margin-left: 10px;
}
.capcha{
    margin-left: 10px;
}
.capcha p{
    font-size: 16px;
    font-weight: 550;
}
.capcha-chon{
    height: auto;
    width: 60%;
    border: 1px solid #ccc;
    display: flex;
    padding: 15px;
}
.ontrai input{
    width: 20px;
    height: 20px;
}
.ontrai label{
    font-size: 20px;
}
.onphai {
    margin-left: 40px;
}
.onphai img{
    width: 30px;
    height: 30px;
}
.nut-dki{
    margin-left: 10px;
  padding-bottom: 15px;
}
.nut-dki button{
    padding: 10px;
    border: 1px solid  #008ae6;
    border-radius: 5px;
    background:  #008ae6;
    color: #fff;
    font-size: 22px;
}
.nut-dki button:hover{
    background: #004d80;
}
.nut-dki p{
    font-size: 16px;
    font-weight: 550;
}
/* ----------------------------------------footer------------------------------------------ */
.footer{
    height: 260px;
    width: 100%;
    background-color: black;
}
.title{
    color: white;
    font-size: 24px;
    margin-left: 20px;
    padding-top: 40px;
    
}
.menu-footer ul{
    display: flex;
    list-style: none;
    
}
.menu-footer ul li {
    padding: 20px;
    height: 40px;
   
}
.menu-footer ul li a:hover{
    background-color: #fff;
    justify-content: center;
    border-radius: 5px;
  
}
.menu-footer ul li a{
    padding: 10px;

}
.learn{
    width: 100%;
    height: 80px;
    background-color: blue;
    
    position: fixed;
    bottom: 0;
    display: flex;
}
.ab-tit{
    width: 50%;
    font-size: 16px;
    font-weight: 400;
  padding: 20px;
  color: #fff;
}
.more{
    text-decoration: underline;
    margin-left: 5px;
    color: #ccc;
}
.btn4{
    background-color:white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;
    border: none;
}
.btn5{
    background-color:blue;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    border: none;
    
}
.nut{
    margin-left: 400px;
}
.btn5:hover{
    background-color: #f2f2f2;
    color: #0066cc;
}
.btn4:hover{
    background-color: #ccc;
}